@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@500&family=Lora&display=swap');

/* DESKTOP */
@media all and (min-width: 1024px) and (max-width: 1280px) { }
* {

}

html, body {
  height: 100%;
  width: 100%;
  font: #000;
  background-color: #F6FBFE;
}
body{
  margin: 0 auto; 
}

header{
  background-color: #263127;
}


nav{
  padding: 6px;
 background-color: #263127;
  font-size: 24px;
  border: none;
  position: fixed;
  width:100%;
}
/* body{
  border:200;
} */
.search_bar{
  /* background-color: #263127; */
  font-size: 24px; 
  position: fixed;

  /* margin-left: 425px;
  margin-top:30px;   */
  width: 100%;
    text-align:center;
  
}
h1{
  font-size:120px;
}
h4{
  font-size:42px;
 color:#F6FBFE;
}

.hero{
 display:flex;
  flex-direction:rows;
    align-items: center;
  justify-content: center;
   column-gap: 1em;
  background-color: #263127;
  font-family: 'Bebas Neue', cursive;
  color:#E4986D;
  border: none;
  width:100%;
  
/*   margin-top: 20px; */
  
}

.blurb_grid{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  max-width:1280px;
   padding: 20px;
   margin: 0 auto;
}

.blurb{
  max-width: 600px;
  padding: 20px;
   margin-left:50px;
 border-style: solid;
  
  
}

.home_card_flex{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  /* padding:30px; */
  row-gap: 40px;

 
 
}

.pfp{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;
  column-gap: 20px;
}


li {
  float: left;
}

li a {
  display: block;
  color: #F6FBFE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #E4986D;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
/*   background-color: #263127; */
}

label{
 color: #F6FBFE;
}
.dog{
  max-width:300px;
   margin-left:50px;
   margin-top: 30px;

}
img{
  max-width:800px;
  object-fit: cover;
  float:left;
 
}




footer{
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #F6FBFE;
  width:100%;
}

/* MEDIA QUERIES */

/* TABLET  */
@media all and (min-width: 768px) and (max-width: 1024px) { 
  html, body {
    height: 100%;
    width: 100%;
    font: #000;
    background-color: #F6FBFE;
    margin: 0 auto; 
  
  }

  header{
    height:5%;
      background-color: #263127;
    }

  .hero{
    display:flex;
     flex-direction:rows;
       align-items: center;
     justify-content: center;
      column-gap: 2em;
     background-color: #263127;
     font-family: 'Bebas Neue', cursive;
     color:#E4986D;
     border: none;
     width:100%;
}
}
/* MODERN MOBILE */
@media all and (min-width: 480px) and (max-width: 768px) { 
  html, body {
    height: 100%;
    width: 100%;
    font: #000;
    background-color: #F6FBFE;
    margin: 0 auto; 
    display:flex;
    flex-direction:column;
      align-items: center;
    justify-content: center;


}.hero{
  display:flex;
   flex-direction:column;
     align-items: center;
   justify-content: center;
    column-gap: 2em;
   background-color: #263127;
   font-family: 'Bebas Neue', cursive;
   color:#E4986D;
   border: none;
   width:100%;
  }
}

/* SMALLER MOBILE  */
@media all and (max-width: 480px) { 
  html, body {
    height: 100%;
    width: 100%;
    font: #000;
    background-color: #F6FBFE;
    margin: 0 auto; 
      display:flex;
   flex-direction:column;
     align-items: center;
   justify-content: center;
}
.hero{
  display:flex;
   flex-direction:rows;
     align-items: center;
   justify-content: center;
    column-gap: 2em;
   background-color: #263127;
   font-family: 'Bebas Neue', cursive;
   color:#E4986D;
   border: none;
   width:100%;
}
}